:root {
    --Primary-color: hsl(199, 100%, 33%);
    --Secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 236);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);

}

.main {
    width: 100%;

    .sectitle {
        .title {
            position: relative;
            color: var(--text-color);
            margin: 1rem 0;
            width: max-content;
            z-index: 2;

            &:after {
                position: absolute;
                background: var(--Secondary-color);
                width: 120px;
                content: '';
                height: 5px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

    .secContent {
        justify-content: center;
        gap: 1.5rem;

        .singleDestination {
            height: 100%;
            display: grid;
            row-gap: 10px;
            padding: 1rem;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            overflow: hidden;

            &:hover {
                background: var(--cardHover);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3s ease;
            }

            .imageDiv {
                width: 100%;
                height: 180px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;

                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .cardInfo {
                padding: 1rem;

                .disttitle {
                    font-size: 1.25rem;
                    color: var(--black-color);

                }

                .continent {
                    gap: .5rem;

                    .icon {
                        color: var(--text-color);
                        font-size: 18px;
                    }

                    .name {
                        color: var(--text-color);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                .fees {
                    width: 100%;
                    padding: 1rem;
                    justify-content: space-between;
                    margin: 1rem 0;
                    border-top: 1.5px solid var(--greyText);
                    border-bottom: 1.5px solid var(--greyText);

                    .grade {
                        color: var(--text-color);
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small {
                            text-align: center;
                            background: var(--gradient-color);
                            border-radius: 1rem;
                            padding: 1px 10px;
                            color: var(--white-color);
                            font-size: 10px;

                        }
                    }

                    .price {
                        font-size: 30px;
                        font-weight: 800;
                        color: var(--black-color);

                    }

                }

                .desc {
                    font-size: 13.5px;
                    color: var(--text-color);
                    font-weight: 500;
                }

                .btn {
                    margin-top: 1rem;
                    color: var(--text-color);
                    justify-content: space-between;
                    gap: .5rem;
                    font-weight: 600;
                    max-width: 170px;

                    .icon {
                        font-size: 18px;
                        align-items: center;
                    }
                }
            }
        }


    }
}

@media screen and (min-width: 500px) {
    .title {
        font-size: 1.5rem;

        &::after {
            width: 155px !important;
        }
    }

    .secContent {
        grid-template-columns: repeat(2, 1fr);

        .singleDestination {
            height: auto;

        }

    }
}

@media screen and (min-width: 840px) {
    .secContent {
        grid-template-columns: repeat(2, 1fr);

        .singleDestination {
            height: auto;

        }

    }

}