:root {
    --Primary-color: hsl(199, 100%, 33%);
    --Secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 236);
    -cardBG: rgb(225, 225, 235);
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.imageDiv {
    width: 100%;
    max-width: 600px;
}

.imageDiv img {
    width: 100%;
    height: auto;
}

.detail-info {
    margin-top: 20px;
    max-width: 600px;
}

.booking-form {
    margin-top: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.booking-form .btn {
    margin-top: 20px;
}
