:root {
    --Primary-color: hsl(199, 100%, 33%);
    --Secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 236);
    -cardBG: rgb(225, 225, 235);
}

.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;

    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        row-gap: 3rem;
        z-index: 100;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--white-color);
        display: flex;
        flex-direction: column;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv {
            position: relative;
            padding: 2rem 1rem;
            background: var(--white-color);
            border-radius: 10px;
            gap: 1rem;

            label {
                padding-bottom: 10px;
                color: var(--text-color);
                font-size: 13px;
                font-weight: 600;
                display: block;

            }

            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: var(--text-color);
                    padding-bottom: 10px;
                    font-size: 18px;
                }
            }

            .input {
                height: 40px;
                padding-bottom: 0 1rem;
                background: var(--inputColor);
                border-radius: 3rem;

                input {
                    border: none;
                    outline: none;
                    background: none;
                    padding: 1.2rem;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;

                    }
                }

                .icon {
                    color: var(--Primary-color);
                    font-size: 20px;
                    margin-right: 17px;
                }

                input[type=range] {
                    background: blue;
                }
            }

            .searchOptions {
                background: var(--gradient-color);
                width: max-content;
                position: absolute;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: var(--Primary-color);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }

            }
        }

        .HomeFooterIcons {
            width: 100%;
            justify-content: space-between;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: var(--white-color);
                font-weight: 600;

                &:hover {
                    color: var(--Primary-color);
                }
            }
        }
    }

}

@media screen and (min-width:500px) {
    .home {
        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;

                    &::after {
                        position: absolute;
                        content: '';
                        background: var(--Secondary-color);
                        height: 5px;
                        width: 145px;
                        right: 0;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
            }

            .cardDiv {
                grid-template-columns: repeat(2, 1fr);


            }
        }
    }

}

@media screen and (min-width:660px) {
    .home {
        .homeContent {
            .cardDiv {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);

            }
        }
    }

}

@media screen and (min-width:940px) {
    .home {
        height: 80vh;
    }
}

@media screen and (min-width:1240px) {
    .home {
        height: 95vh;

        .homeContent {
            padding-left: 0;
            padding-right: 0;

            .cardDiv {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);

                .input {
                    margin-bottom: 1rem;
                }

                .searchOptions {
                    bottom: -1rem;
                    padding: 8px 1rem;

                    span {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}